body {
  background-image: url("images/loading_animation.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  background-color: white;
}

.grid-stack {
  width: unset !important;
  height: unset !important;
  transform: unset !important;
}


.grid-stack-item {
  width: unset !important;
  position: unset !important;
}

.grid-stack-item:nth-child(1) {
  display: none;
}

.grid-stack-item:nth-child(2) {
  display: none;
}

.grid-stack-item-content-no-error {
  position: unset !important;
}

.content {
  display: flex;
  flex-direction: column;
}

.content img {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}