li.nav-item a[href="/iserv/custom/858/vertretungsplan"] .item-label,
li.nav-item a[href="/iserv/custom/858/vertretungsplan"] .icon-container {
  display: none !important;
}

li.nav-item a[href="/iserv/custom/858/vertretungsplan"]::after {
  content: "Vertretungsplan";
}

li.nav-item a[href="/iserv/custom/858/vertretungsplan"] .navigation-menu-icon {
  background-image: url(images/icon.svg);
}

li.nav-item a[href="/iserv/custom/858/vertretungsplan"] .navigation-menu-icon::before {
  content: unset !important;
}